.img-hover-zoom--colorize img {
    transition: transform .5s, filter 1.5s ease-in-out;
    filter: grayscale(100%);
  }
  .img-hover-zoom--colorize:hover img {
    filter: grayscale(0);
    transform: scale(1.1);
  }
.img-hover-zoom {
    height: 300px; 
    overflow: hidden; 
  }
  .img-hover-zoom img {
    transition: transform .5s ease;
  } 
  .img-hover-zoom:hover img {
    transform: scale(1.5);
  }